{
  "presets": [
    "react",
    ["stage-0"],
    ["env", { "modules": false }]
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-decorators-legacy",
    "transform-class-properties",
    [
      "import",
      { "libraryName": "antd-mobile", "style": true },
      { "libraryName": "pms-saas-component" },
      { "libraryName": "pms-saas-common" }
    ]
  ]
}
