.action-btn {
  color: #fff;
  z-index: 1000;
  padding: px2rem(10);
  font-size: px2rem(28);
  text-align: center;
  background: $theme-red;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
  white-space: normal;
  line-height: px2rem(40);
  border-radius: 100%;
  @extend [layout];
  @extend [layout=row];
  @extend [layout-align="center center"];
  @include size(px2rem(128), px2rem(128));
  @include position(fixed, null, px2rem(50), px2rem(50));
}