.news-container {
  @include position(absolute, 156px, 0, 0, 0);
  &::-webkit-scrollbar {
    display: none;
  }
  .am-tabs-default-bar-tab-active {
    color: $theme-red;
  }
  .am-tabs-default-bar-underline {
    border-color: $theme-red;
  }
  .am-list-body::before,
  .am-list-body::after {
    background: transparent!important;
  }
  .am-pull-to-refresh-indicator {
    // height: 40px!important;
    line-height: px2rem(42)
  }
  .news-list-container {
    height: 100%;
    overflow: auto;
    background: #fff;
    @include position;
    .news-item-container {
      padding-top: px2rem(16);
      .news-item-content {
        box-shadow: 0 -3px 10px 2px rgba(0, 0, 0, 0.075);
        background: #fff;
        padding-left: px2rem(20);
        padding-right: px2rem(20);
        border-top-left-radius: px2rem(18);
        border-top-right-radius: px2rem(18);
        .news-item-title {
          color: $font-color-1;
          padding: px2rem(5) 0;
          font-size: px2rem(32);
          font-weight: bold;
          line-height: px2rem(44);
          .news-item-integral {
            color: $theme-red;
            height: px2rem(34);
            border: 1px solid $theme-red;
            padding: 0 px2rem(10);
            display: inline-block;
            font-size: px2rem(24);
            line-height: px2rem(32);
            margin-right: px2rem(10);
            border-radius: px2rem(12);
          }
        }
        .news-item-thumbnails {
          padding-top: px2rem(10);
          padding-bottom: px2rem(10);
          @extend [layout];
          @extend [layout=row];
          @extend [layout-align="start center"];
          @include size(100%, px2rem(200));
          li {
            flex: 1;
            padding-left: px2rem(10);
            padding-right: px2rem(10);
            img {
              @include size(100%, px2rem(180));
            }
          }
        }
        .news-item-info {
          padding-bottom: px2rem(10);
          @extend [layout];
          @extend [layout=row];
          @extend [layout-align="space-between center"];
          @include size(100%, auto);
          .news-item-integrals {
            @extend [layout];
            @extend [layout=column];
            @extend [layout-align="center start"];
            .news-integral-desc {
              color: #999;
              font-size: px2rem(24);
              line-height: px2rem(40);
              margin-right: px2rem(20);
            }
          }
        }
      }
    }
  }
  .news-list-indicator {
    font-size: px2rem(26);
    line-height: px2rem(42);
    @extend [layout];
    @extend [layout=row];
    @extend [layout-align="center center"];
  }
}

.news-title-container,
.user-panel-container,
.share-panel-container,
.news-context-container,
.statement-container {
  box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.1);
}

.news-title-container {
  color: $font-color-1;
  padding: px2rem(20);
  font-size: px2rem(34);
  background: #fff;
  line-height: px2rem(40);
  margin-bottom: px2rem(20);
  @extend [layout];
  @extend [layout=column];
  @extend [layout-align="center start"];
  .title-text {
    font-size: px2rem(34);
    font-weight: bold;
    line-height: px2rem(50);
  }
  .sub-text {
    font-size: px2rem(22);
    @extend [layout];
    @extend [layout=row];
    @extend [layout-align="start center"];
    span {
      line-height: px2rem(40);
      margin-right: px2rem(20);
    }
  }
}

.user-panel-container {
  padding: px2rem(10) px2rem(20);
  background: #fff;
  margin-bottom: px2rem(20);
  @extend [layout];
  @extend [layout=row];
  @extend [layout-align="start center"];
  @include size(100%, auto);
  .thumbnail {
    margin-right: px2rem(20);
    @include size(px2rem(108), px2rem(108));
    img {
      border-radius: 100%;
      @include size(px2rem(108), px2rem(108));
    }
  }
  .advertisting-text {
    color: $font-color-2;
    font-size: px2rem(30);
    line-height: px2rem(40);
  }
  .director-text {
    color: #108ee9;
    font-size: px2rem(28);
    line-height: px2rem(40);
  }
}

.share-panel-container {
  padding: 0 px2rem(20);
  background: #fff;
  margin-bottom: px2rem(20);
  .share-username,
  .share-info {
    @include borderBottomHalfPx;
  }
  .share-username {
    padding: px2rem(20) 0;
    font-size: px2rem(30);
  }
  .share-info {
    padding: px2rem(20) 0;
    .share-line-info {
      margin-bottom: px2rem(20);
      @extend [layout];
      @extend [layout=row];
      @extend [layout-align="space-between center"];
      @include size(100%, auto);
    }
    .share-info-text {
      color: $font-color-2;
      height: px2rem(30);
      font-size: px2rem(26);
      line-height: px2rem(30);
    }
  }
  .share-desc {
    color: $font-color-2;
    padding: px2rem(20) 0;
    font-size: px2rem(26);
    @extend [layout];
    @extend [layout=column];
    @extend [layout-align="center start"];
    @include size(100%, auto);
  }
}

.news-context-container {
  background: #fff;
  padding-top: px2rem(10);
  padding-bottom: px2rem(10);
  margin-bottom: px2rem(20);
  .article-content .section {
    margin-top: px2rem(0);
  }
  .article-content .txt {
    color: $font-color-2;
    font-size: px2rem(28);
  } 
  .news-context-actions {
    color: #333;
    font-size: px2rem(28);
    line-height: px2rem(40);
    padding-left: px2rem(20);
    padding-right: px2rem(20);
    span {
      margin-right: px2rem(10);
      display: inline-flex;
      align-items: center;
      .share-icon,
      .read-icon {
        display: inline-block;
        margin-right: px2rem(10);
        @include size(px2rem(26), px2rem(26))
      }
    }
  }
}

.statement-container {
  padding: px2rem(20);
  background: #fff;
  .statement-title {
    color: $font-color-1;
    font-size: px2rem(30);
    text-align: center;
    line-height: px2rem(40);
    margin-bottom: px2rem(20);
  }
  .statement-desc {
    color: $font-color-2;
    font-size: px2rem(28);
    line-height: px2rem(40);
  }
}

.share-director-container {
  z-index: 1001;
  background: rgba(0, 0, 0, 0.5);
  @include position(fixed, 0, 0, 0, 0);
  .share-img {
    @include size(100%, px2rem(280));
    @include bgSrc($share-img, 100%, px2rem(280));
    @include position(absolute, 0, 0);
  }
}

.qrcode-area-container {
  margin-top: px2rem(20);
  padding: px2rem(40);
  img {
    margin: auto;
    display: block;
    @include size(px2rem(300), px2rem(300));
  }
}

.empty-container {
  color: $font-color-2;
  font-size: px2rem(32);
  @extend [layout];
  @extend [layout=row];
  @extend [layout-align="center center"];
  @include size(100%, 100%);
}

.news-status {
  @include size(px2rem(250), px2rem(200));
  @include position(absolute, px2rem(150), px2rem(20));
  &.process {
    @include bgSrc($new-status-process)
  }
  &.complete {
    @include bgSrc($new-status-complete)
  }
}