.prize-container {
  @include position(absolute, px2rem(88), 0, 0, 0);
  &::-webkit-scrollbar {
    display: none;
  }
  .prize-list-container {
    height: 100%;
    overflow: auto;
    background: #fff;
    @include position;
    .prize-item-container {
      padding: px2rem(20);
      box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
      border-radius: px2rem(8);
      margin-bottom: px2rem(10);
      @extend [layout];
      @extend [layout=row];
      @extend [layout-align="start center"];
      @include size(100%, auto);
      .prize-item-thumbnail {
        flex-shrink: 0;
        margin-right: px2rem(20);
        @include size(px2rem(200), px2rem(200));
      }
      .prize-item-info {
        @extend [layout];
        @extend [layout=column];
        @extend [layout-align="space-between start"];
        @include size(100%, px2rem(200));
        .prize-item-text {
          color: $font-color-1;
          font-size: px2rem(30);
          line-height: px2rem(48);
        }
        .prize-item-spec {
          color: $theme-red;
          font-size: px2rem(30);
          margin-right: px2rem(40);
          line-height: px2rem(40);
        }
        .prize-item-sub {
          color: $font-color-2;
          font-size: px2rem(24);
          line-height: px2rem(40);
          white-space: normal;
        }
      }
    }
  }
  .prize-list-indicator {
    font-size: px2rem(26);
    line-height: px2rem(42);
    @extend [layout];
    @extend [layout=row];
    @extend [layout-align="center center"];
  }
}

.prize-detail-container {
  overflow-y: auto;
  overflow-x: hidden;
  @include position(absolute, 0, 0, px2rem(98), 0);
  &::-webkit-scrollbar {
    display: none;
  }
}

.prize-panel-container {
  padding: px2rem(20);
  background: #fff;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: px2rem(20);
  @include size(100%, auto);
  .prize-name {
    color: $font-color-1;
    font-size: px2rem(32);
  }
  .prize-integrals {
    color: $font-color-2;
    margin: px2rem(20) 0;
    font-size: px2rem(28);
    @extend [layout];
    @extend [layout=row];
    @extend [layout-align="space-between center"];
    @include size(100%, auto);
  }
  .prize-value {
    color: $font-color-2;
    font-size: px2rem(28);
  }
}

.price-desc-container {
  padding: px2rem(20);
  background: #fff;
  @extend [layout];
  @extend [layout=column];
  @extend [layout-align="center start"];
  @include size(100%, auto);
  .price-desc-title {
    color: $font-color-1;
    font-size: px2rem(30);
    line-height: px2rme(40);
  }
  .price-spec-container {
    padding: px2rem(20) 0 0;
    flex-wrap: wrap;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: px2rem(20);
    @extend [layout];
    @extend [layout=row];
    @extend [layout-align="start center"];
    @include size(100%, auto);
    li {
      color: $font-color-2;
      font-size: px2rem(26);
      margin-bottom: px2rem(20);
      @include size(50%, auto);
    }
  }
}

.price-image-container {
  padding: 0 px2rem(20);
  background: #fff;
  @include size(100%, auto);
  li,
  li img {
    @include size(100%, auto);
  }
  li {
    margin-bottom: px2rem(20);
  }
}

.prize-confirmation-container {
  padding: 0 px2rem(20);
  background: #fff;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
  @include size(100%, auto);
  .prize-brand {
    color: $font-color-1;
    padding: 0 px2rem(20);
    font-size: px2rem(30);
    line-height: px2rem(80);
    @include size(100%, px2rem(80));
    @include borderBottomHalfPx;
  }
  .prize-detail {
    padding: px2rem(20) 0;
    @extend [layout];
    @extend [layout=row];
    @extend [layout-align="start start"];
    @include size(100%, auto);
    .thumbnail {
      flex-shrink: 0;
      margin-right: px2rem(20);
      @include size(px2rem(200), px2rem(200));
    }
    .prize-name {
      color: $font-color-1;
      font-size: px2rem(30);
      margin-bottom: px2rem(30);
    }
    .prize-infos {
      @include size(100%, auto);
      li {
        color: $font-color-2;
        font-size: px2rem(28);
        margin-bottom: px2rem(20);
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .prize-count {
    @extend [layout];
    @extend [layout=row];
    @extend [layout-align="end center"];
    @include borderTopHalfPx;
    @include size(100%, px2rem(98));
  }
}

.prize-counter-container {
  color: $font-color-1;
  font-size: px2rem(28);
  @extend [layout];
  @extend [layout=row];
  @extend [layout-align="space-between center"];
  // @include size(px2rem(200), auto);
  .prize-counter-desc {
    color: $font-color-1;
    font-size: px2rem(44);
    text-align: center;
    flex-shrink: 0;
    font-weight: bold;
    line-height: px2rem(72);
    @include size(px2rem(80), px2rem(72));
    &.disabled {
      color: $font-color-3;
    }
  }
  .am-list-item {
    min-height: 0;
  }
  .am-input-item {
    border: 1px solid #e6e6e6;
    padding: 0!important;
    text-align: center;
    border-radius: px2rem(4);
    @include size(px2rem(72), px2rem(72)!important);
    input {
      color: $theme-red!important;
      text-align: center;
      font-weight: bold;
    }
  }
  .am-list-line {
    padding: 0!important;
  }
}

.price-actions-container {
  @extend [layout];
  @extend [layout=row];
  @extend [layout-align="space-between center"];
  @include size(100%, px2rem(98));
  @include position(absolute, null, 0, 0, 0);
  .price-actions-text {
    border: 1px solid #fff;
    color: #fff;
    font-size: px2rem(28);
    background: #108ee9;
    padding-left: px2rem(20);
    border-radius: px2rem(8);
    @extend [layout];
    @extend [layout=row];
    @extend [layout-align="start center"];
    @include size(100%, px2rem(98));
  }
  .am-button {
    font-size: px2rem(30);
    flex-shrink: 0;
    @include size(px2rem(200), auto);
  }
}
