<!DOCTYPE html>
<html lang="en">
<base href="<%= htmlWebpackPlugin.options.basePath %>"/>
<head>
  <title></title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta name="format-detection" content="telphone=no"/>
  <link rel="stylesheet" href="https://mini.eastday.com/toutiaoh5/css/page_details_v4.min.css">
  <script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 10 + 'px';
  </script>
</head>
<body>
  <div id="root"></div>
</body>
</html>
